body, html {
padding: 0;
margin: 0;
overflow-x: hidden;
height: 100%;
letter-spacing: 1px;
}


.adminnav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3e32dd;
  }

  .sm-navlinks12 a{
    display:inline-block !important;
  }
  
  .admin_login h1{
    color: #fff;
    text-align: center;
    letter-spacing: 4px;
    font-weight: 300;
    }
  
    .adminform label{
      color: #fff;
      line-height: 40px;
      }
  
  .adminform {
  margin: auto;
  padding: 1rem 0;
  }
  
.adminform_bg {
background-image: linear-gradient(43deg, #151516 0%, #443f3f 50%, #333333 100%);
width: 100%;
}
  
.adminform input{ 
height: 46px;
font-size: 18px;
letter-spacing: 2px;
outline: none;
background: transparent;
border: none;
margin-bottom: 24px;
color: #fff;
border-bottom: solid 1px #fff;
}
    
.adminform select{ 
height: 46px;
font-size: 18px;
letter-spacing: 2px;
outline: none;
background: transparent;
border: none;
margin-bottom: 24px;
color: #fff;
border-bottom: solid 1px #fff;
}

.adminform option{ 
color: #000000;
}
    
.adminform input[type="checkbox"] {
width: 20px; 
height: 20px;
}

.adminform textarea {
border: none;
width: 50%;
padding: 10px;
margin: auto;
margin-bottom: 20px;
border-bottom: 1px solid #fff;
font-size: 16px;
resize: none;
letter-spacing: 1px;
outline: none;
background: transparent;
color: #fff;
}

.adminform button{
display: flex;
margin: 1rem auto;
justify-content: center;
background-color: #009fdd;
width: 50% !important;
text-align: center;
color: white;
padding: 10px 20px;
border: none;
border-radius: 5px;
cursor: pointer;
font-size: 16px;
width: 100%;
}



@media(max-width:768px){
.sm-adminform{
flex-direction: column;
align-items: normal;
}

.admin_login{
width: 100%;
}

.adminform textarea {
width: 100%;
}

.adminform button{
width: 100% !important;
}

.sm-adminform-checkbox{
display: grid !important;
justify-content: center !important;
align-items: center !important;
}

.sm-adminform-input{
width: 100%;
}
}

.nav{
background-color:#1508ce;
padding: 1rem;
display:flex;
place-content:space-evenly;
place-items:center;
}


.sm-name{
padding: 0 5px;
color: #fff;
cursor: none;
}
.nav img{
/* margin-right:auto; */
padding:0 1rem;
cursor: pointer;
}
    
.nav input{
width:100%;
height:38px;
padding:1rem;
outline:none;
border:none;
font-size: 15px;
margin: auto;
color: #111;
letter-spacing: 1px;
border-radius: 5px;
}

.cart-link {
  position: relative;
}

.cart-icon-container {
  position: relative;
  display: inline-block;
}

.cart-count {
  position: absolute;
  top: -15px;
  right: 3px;
  color: white;
  font-size: 12px;
  padding: 3px;
  border-radius: 50%;
  min-width: 16px;
  text-align: center;
}
    
    
    
.search-results-container{
background-color: #fff;
z-index: 999;
position : absolute ;
width: 100%;
}
    
.search-results-container a{
display: flex;
align-items: center;
color: #000;
text-decoration: none;
font-weight: bolder;
text-align: start;
}
    
    
    
.search-results-container p{
font-size: 16px;
padding: 0 1rem;
letter-spacing: 2px;
font-weight: 300;
}

.search-result-item{
padding: 0 1rem;
}
    
@media(max-width:768px){
.search-results-container{
transform: translateY(-10px);
}
    
    
.search-results-container a{
display: flex;
flex-direction: column;
}
    
.search-results-container p{
font-size: 13px;
}
}
    
    
.navlinks{
display: flex;
place-items: center;
}

.navlinks button{
border: 0;
border-radius: 20px;
background-color: #0d6efd;
text-transform: capitalize;
padding: 3px 4px;
letter-spacing: 1px;
color: #fff;
cursor: pointer;
margin: auto;
transform: translateX(10px);
}
    
.navlinks a{
padding: 0 0px 0 10px;
color:#fff;
text-decoration:none;
display: flex;
place-items: center;
}

@media(max-width:1290px){
.nav{
flex-wrap: wrap;
padding: 0 1rem;
}
    
.navlinks{
margin-bottom: 1rem;
}
    
      
.nav img{      
margin: auto;
padding: 1rem 0;
}
     
.navlinks button{
margin-left: 3px;
}
        
        
.navlinks a{
padding: 10px;
margin: auto;
font-size: 13px;
}
}
    
@media(max-width:840px){
.navlinks{
display: grid;
grid-template-columns: repeat(3, 1fr);
}
    
.sm-navlinks12{
display: flex;
}
        
.sm-name{
border: none;
}
}

.article-container{
  padding: 0 1rem;
  margin: auto;
  max-width: 80rem;
}

/* dashboard css starts here */

.hero-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: repeat(2, auto);
  gap: 1rem;
}

.main-content {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.main-content-img {
  width: 100%;
  max-height: 400px;
  object-fit: contain;
}

.first-left-content {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: grid;
  padding: 10px;
}

.first-left-content img {
  width: 100%;
  max-height: 200px;
  object-fit: contain;
}

.first-left-content button {
  background-color: #007dc6;
  border: none;
  outline: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.second-left-content {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  display: grid;
  padding: 10px;
}

.second-left-content img {
  width: 100%;
  max-height: 200px;
  object-fit: contain;
}

.second-left-content button {
  background-color: #007dc6;
  border: none;
  outline: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

/* dashboard css atops here */
.checkout-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.checkout-button:hover {
  background-color: #0056b3;
}

.checkout-page {
  max-width: 800px;
  margin: 0 auto;
}

.checkout-page h1{
  font-weight: 400;
}

.checkout-items {
  margin-bottom: 20px;
}

.checkout-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.checkout-item-image {
  width: 100px;
  margin-right: 20px;
}

.checkout-item-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.checkout-item-price {
  font-size: 16px;
  color: #666;
}

.checkout-item-quantity {
  font-size: 14px;
  color: #999;
}

.quantity-controls {
  display: flex;
  align-items: center;
}

.quantity-btn {
  background-color: #f0f0f0;
  border: none;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.quantity-btn:hover {
  background-color: #e0e0e0;
}

.quantity-btn:disabled {
  background-color: #f0f0f0;
  color: #999;
  cursor: not-allowed;
}

.quantity {
  margin: 0 10px;
  font-size: 16px;
  font-weight: bold;
}

.place-order-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.place-order-button:hover {
  background-color: #0056b3;
}

.cart-page {
  max-width: 80rem;
  margin: 0 auto;
}

.cart-page a {
  color: #000;
  text-decoration: none;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  /* box-shadow: 0 16px 15px rgb(0 0 0 / 40%);
    background: #fff; */
}

.cart-items{
  padding: 0;
}

.cart-item img{
  width: 150px;
  padding: 0 10px 0 0;
}



.cart-item-details {
  flex: 1;
}

.cart-item-title {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}

.cart-item-price {
  font-size: 16px;
  color: #666;
}

.cart-item-quantity {
  font-size: 14px;
  color: #999;
}

.cart-item-actions {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.cart-item-remove {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
}

.cart-item-save{
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
}



.saved-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.saved-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

.saved-item img {
  width: 150px;
  padding: 0 10px 0 0;}


.saved-item-title {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}

.saved-item-price {
  font-size: 18px;
  color: #666;
}

.saved-item-actions {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.saved-item-delete {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
}

.saved-item-add-to-cart {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
}


.empty-cart {
  font-size: 24px;
  font-weight: bold;
  color: #999;
  text-align: center;
  padding: 40px;
}



/* cart page stops here */

.product-details {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  margin-bottom: 1rem;
}




.product-details ul {
  list-style-type: disc;
  padding-left: 1.5rem;
  color: #555;
  line-height: 24px;
  font-size: 14px;
}

.product-details button {
  border-radius: 7px;
  outline: none;
  background: #007dc6;
  color: #fff;
  border: none;
  padding: 1rem;
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.product-details button:hover {
  background-color: #005a91;
}


.product-images {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
}

.main-image {
  margin-bottom: 1rem;
}

.main-image img {
  width: 100%;
}

.thumbnails {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.5rem;
}

.thumbnails img {
  width: 100%;
  cursor: pointer;
  border: 1px solid #ddd;
}

.product-info {
  flex: 1;
}

.product-title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  line-height: 1.5;
  color: #0d0d0d;
}

.product-ratings {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.rating-stars {
  color: #000dff;
  font-size: 1.6rem;
    margin-right: 0.5rem;
}

.rating-count {
  font-size: 0.9rem;
  color: #555;
}

.product-price {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #0d0d0d;
}

.product-delivery {
  margin-top: 1rem;
  color: #555;
}

.product-delivery a {
  color: #007dc6;
  text-decoration: none;
}

.product-delivery a:hover {
  text-decoration: underline;
}

.body-content{
  line-height: 2;
padding: 0 1rem;
}

.body-content p {
  font-size: 1rem;
  letter-spacing: 1px;
  }


@media(max-width:768px){
  .product-details{
    flex-direction: column;
  }

  .product-title{
    font-size: 12px;
  }

  .product-price{
    font: 1rem;
  }
}




.empty-cart {
  font-size: 24px;
  font-weight: bold;
  color: #999;
  text-align: center;
  padding: 40px;
}

.contact_title_img{
  display: flex;
  place-content: center;
  place-items: center;
  flex-direction: column;
  padding: 1rem 0;
  background-color: #1508ce;
}

.contact_title_img a{
  text-decoration: none;
  color: #fff;
}

.contact_title_img h2{
    font-weight: 400;

}

.formbox{
 
    letter-spacing: 1px;
    margin: 1rem auto;

}

.formbox label {
  line-height: 2;
}

.formbox input {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #000dff;
  text-indent: 7px;
  margin-bottom: 1rem;
  padding: 1rem 0;
  outline: none;
  font-size: 20px;
}

.formbox textarea {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #000dff;
  text-indent: 7px;
  margin-bottom: 1rem;
  resize: none;
  font-size: 18px;
}

.formbox button {
  background-color: #000dff;
  border: none;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  outline: none;
  padding: 20px;
  width: 100%;
}



  footer{
padding: 3px;
background: #1508ce;
text-transform: capitalize;
text-align: center;}


.flex-footer{
display: flex;
place-content: center;
border-bottom: solid 1px #fff;
}

.footer-tablebox{
width: 100%;
border-right: solid 1px #fff;
padding-bottom: 10px;
padding-top: 10px;
}
  
  
   
.footer-headline{
color: #fff;
font-size: 30px;
font-weight: 600;
letter-spacing: 2px;
padding: 5px 0;
border-bottom: solid 1px #fff;
}

.footer-navlink{
margin: auto;
padding: 0;
}

.footer-navlink li{
list-style-type: none;
}

.footer-navlink a{
text-decoration: none;
color: #fff;
font-size: 18px;
line-height: 2.5;
cursor: pointer;
}
  
.footer-logo-box{
margin: auto;
}

.footer-logo-box img{
cursor: pointer
} 

@media(max-width:768px){
.flex-footer{
display: flex;
place-content: center;
flex-direction: column;
}
  
.footer-tablebox{
border-right: none;
border-left: none !important;
}
}
@media(max-width:500px){
.foot-navlinks{
display: grid;
grid-template-columns: repeat(4, 1fr);
place-items: center;
}

.footnav img{
height: 34px;
}


}
/* footer css stops here */

.error, .success{
line-height: 2;
text-align: center;
letter-spacing: 1px;
}