body, html {
padding: 0;
margin: 0;
overflow-x: hidden;
height: 100%;
letter-spacing: 1px;
}


.adminnav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3e32dd;
  }

  .sm-navlinks12 a{
    display:inline-block !important;
  }
  
  .admin_login h1{
    color: #fff;
    text-align: center;
    letter-spacing: 4px;
    font-weight: 300;
    }
  
    .adminform label{
      color: #fff;
      line-height: 40px;
      }
  
  .adminform {
  margin: auto;
  padding: 1rem 0;
  }
  
.adminform_bg {
background-image: linear-gradient(43deg, #151516 0%, #443f3f 50%, #333333 100%);
width: 100%;
}
  
.adminform input{ 
height: 46px;
font-size: 18px;
letter-spacing: 2px;
outline: none;
background: transparent;
border: none;
margin-bottom: 24px;
color: #fff;
border-bottom: solid 1px #fff;
}
    
.adminform select{ 
height: 46px;
font-size: 18px;
letter-spacing: 2px;
outline: none;
background: transparent;
border: none;
margin-bottom: 24px;
color: #fff;
border-bottom: solid 1px #fff;
}

.adminform option{ 
color: #000000;
}
    
.adminform input[type="checkbox"] {
width: 20px; 
height: 20px;
}

.adminform textarea {
border: none;
width: 50%;
padding: 10px;
margin: auto;
margin-bottom: 20px;
border-bottom: 1px solid #fff;
font-size: 16px;
resize: none;
letter-spacing: 1px;
outline: none;
background: transparent;
color: #fff;
}

.adminform button{
display: flex;
margin: 1rem auto;
justify-content: center;
background-color: #009fdd;
width: 50% !important;
text-align: center;
color: white;
padding: 10px 20px;
border: none;
border-radius: 5px;
cursor: pointer;
font-size: 16px;
width: 100%;
}



@media(max-width:768px){
.sm-adminform{
flex-direction: column;
align-items: normal;
}

.admin_login{
width: 100%;
}

.adminform textarea {
width: 100%;
}

.adminform button{
width: 100% !important;
}

.sm-adminform-checkbox{
display: grid !important;
justify-content: center !important;
align-items: center !important;
}

.sm-adminform-input{
width: 100%;
}
}

.nav{
background-color:#1508ce;
padding: 1rem;
display:flex;
place-content:space-evenly;
place-items:center;
}


.sm-name{
padding: 0 5px;
color: #fff;
cursor: none;
}
.nav img{
/* margin-right:auto; */
padding:0 1rem;
cursor: pointer;
}
    
.nav input{
width:100%;
height:38px;
padding:1rem;
outline:none;
border:none;
font-size: 15px;
margin: auto;
color: #111;
letter-spacing: 1px;
border-radius: 5px;
}
    
    
    
.search-results-container{
background-color: #fff;
z-index: 999;
position : absolute ;
width: 100%;
}
    
.search-results-container a{
display: flex;
align-items: center;
color: #000;
text-decoration: none;
font-weight: bolder;
text-align: start;
}
    
    
    
.search-results-container p{
font-size: 16px;
padding: 0 1rem;
letter-spacing: 2px;
font-weight: 300;
}

.search-result-item{
padding: 0 1rem;
}
    
@media(max-width:768px){
.search-results-container{
transform: translateY(-10px);
}
    
    
.search-results-container a{
display: flex;
flex-direction: column;
}
    
.search-results-container p{
font-size: 13px;
}
}
    
    
.navlinks{
display: flex;
place-items: center;
}

.navlinks button{
border: 0;
border-radius: 20px;
background-color: #0d6efd;
text-transform: capitalize;
padding: 3px 4px;
letter-spacing: 1px;
color: #fff;
cursor: pointer;
margin: auto;
transform: translateX(10px);
}
    
.navlinks a{
padding: 0 0px 0 10px;
color:#fff;
text-decoration:none;
display: flex;
place-items: center;
}

@media(max-width:1290px){
.nav{
flex-wrap: wrap;
padding: 0 1rem;
}
    
.navlinks{
margin-bottom: 1rem;
}
    
      
.nav img{      
margin: auto;
padding: 1rem 0;
}
     
.navlinks button{
margin-left: 3px;
}
        
        
.navlinks a{
padding: 10px;
margin: auto;
font-size: 13px;
}
}
    
@media(max-width:840px){
.navlinks{
display: grid;
grid-template-columns: repeat(3, 1fr);
}
    
.sm-navlinks12{
display: flex;
}
        
.sm-name{
border: none;
}
}

.hero-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem; /* Add some spacing between grid items */
}

.main-content {
  grid-column: 2 / 5; 
  grid-row: 1;
}

.first-left-content{
  grid-column: 1;
  display: grid;
  padding: 10px;

  text-align: center;}

.first-left-content img{
  width: 100%;
}

.main-content-img {
  width: 100%;
}

.mainflex{
  display: flex;
  align-items: center;
}

.article-container{
  padding: 0 1rem;
  margin: auto;
  max-width: 80rem;
}

.product-details {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.product-images {
  flex: 0 0 60%;
  display: flex;
  flex-direction: column;
}

.main-image {
  margin-bottom: 1rem;
}

.main-image img {
  width: 100%;
}

.thumbnails {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.5rem;
}

.thumbnails img {
  width: 100%;
  cursor: pointer;
  border: 1px solid #ddd;
}

.product-info {
  flex: 1;
}

.product-title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  line-height: 1.5;
  color: #0d0d0d;
}

.product-ratings {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.rating-stars {
  color: #ffb600;
  font-size: 1.6rem;
    margin-right: 0.5rem;
}

.rating-count {
  font-size: 0.9rem;
  color: #555;
}

.product-price {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #0d0d0d;
}

.product-details {
  margin-bottom: 1rem;
}

.product-details ul {
  list-style-type: disc;
  padding-left: 1.5rem;
  color: #555;
  line-height: 24px;
}

.product-details button {
  border-radius: 7px;
  outline: none;
  background: #007dc6;
  color: #fff;
  border: none;
  padding: 1rem;
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.product-details button:hover {
  background-color: #005a91;
}

.product-delivery {
  margin-top: 1rem;
  color: #555;
}

.product-delivery a {
  color: #007dc6;
  text-decoration: none;
}

.product-delivery a:hover {
  text-decoration: underline;
}

.body-content{
  line-height: 2;
padding: 0 1rem;
}

.body-content p {
  font-size: 1rem;
  letter-spacing: 1px;
  }

  footer{
padding: 3px;
background: #1508ce;
text-transform: capitalize;
text-align: center;}


.flex-footer{
display: flex;
place-content: center;
border-bottom: solid 1px #fff;
}

.footer-tablebox{
width: 100%;
border-right: solid 1px #fff;
padding-bottom: 10px;
padding-top: 10px;
}
  
  
   
.footer-headline{
color: #fff;
font-size: 30px;
font-weight: 600;
letter-spacing: 2px;
padding: 5px 0;
border-bottom: solid 1px #fff;
}

.footer-navlink{
margin: auto;
padding: 0;
}

.footer-navlink li{
list-style-type: none;
}

.footer-navlink a{
text-decoration: none;
color: #fff;
font-size: 18px;
line-height: 2.5;
cursor: pointer;
}
  
.footer-logo-box{
margin: auto;
}

.footer-logo-box img{
cursor: pointer
} 

@media(max-width:768px){
.flex-footer{
display: flex;
place-content: center;
flex-direction: column;
}
  
.footer-tablebox{
border-right: none;
border-left: none !important;
}
}
@media(max-width:500px){
.foot-navlinks{
display: grid;
grid-template-columns: repeat(4, 1fr);
place-items: center;
}

.footnav img{
height: 34px;
}


}
/* footer css stops here */

.error, .success{
line-height: 2;
text-align: center;
letter-spacing: 1px;
}